/**
 * Place your custom styles here.
 */
.logo img {
  width: 58px;
}

.cped-nav {
  width: 160px;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;

  li {
    width: 100%;
    a {
      color: #fff;
      &.active {
        color: #23527c;
        background-color: #fff;
        &:hover {
          background-color: #fff;
        }
      }
      &:hover {
        background-color: #428bca;
      }
    }

    // has submenu
    &.expanded.collapse {
      ul {
        padding: 0;
        a {
          padding: 15px;
          text-decoration: none;
          display: block;
          background-color: #428bca;

          &.active {
            color: #23527c;
            background-color: #fff;
          }

          &:hover {
            color: #23527c;
            background-color: #fff;
          }
        }
      }
      .active-trail {
        background-color: #428bca;
      }
    }
  }
}

.cped-mobile-nav {
  .secondary {
    float: none;

    .expanded.collapse {
      li {
        a {
          display: block;
          padding: 10px 30px;
          color: #777;
          text-decoration: none;

          &:hover {
            color: #333;
          }
        }
      }
      ul {
        padding: 0;
      }
    }
  }
}

#basic-info {
  .valign-middle {
    vertical-align: middle;
  }
}

#manage-school {
  margin-bottom: 20px;
}

.view-resume-exprience {
  &.worktitle .views-field-title{
    width:50%;
  }
}

.description.mollom-privacy {
  margin-bottom: 10px;
}

@media (min-width:768px) {
  .cped-main {
    padding-left: 160px;
  }

  .navbar-collapse.collapse.cped-visible-xs {
    display: none !important;
  }

  .name.navbar-brand {
    line-height: initial;
    font-size: 2.5em;
  }

}
